
.products .attachment-woocommerce_thumbnail:before, .products .attachment-woocommerce_thumbnail:after {
	content: "";
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-repeat: no-repeat;
	opacity: 0.5;
	mix-blend-mode: color-dodge;
	transition: all 0.33s ease;
}


.products .attachment-woocommerce_thumbnail:before {
	background-position: 50% 50%;
	background-size: 300% 300%;
	background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
	opacity: 0.5;
	filter: brightness(0.5) contrast(1);
	z-index: 1;
}
.products .attachment-woocommerce_thumbnail:after {
	opacity: 1;
	background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff0084 50 15%, #fca400 40 30%, #ff0 30 40%, #00ff8a 20 60%, #00cfff 40 70%, #cc4cfa 50 85%);
	background-position: 50% 50%;
	background-size: 160%;
	background-blend-mode: overlay;
	z-index: 2;
	filter: brightness(1) contrast(1);
	transition: all 0.33s ease;
	mix-blend-mode: color-dodge;
	opacity: 0.75;
}
.products .attachment-woocommerce_thumbnail:after, .products .attachment-woocommerce_thumbnail:hover:after {
	filter: brightness(1) contrast(1);
	opacity: 1;
}
.products .product, .products .attachment-woocommerce_thumbnail:hover {
	animation: none;
	transition: box-shadow 0.1s ease-out;
}
.products .attachment-woocommerce_thumbnail:before, .products .attachment-woocommerce_thumbnail:hover:before {
	animation: none;
	background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
	background-position: 50% 50%;
	background-size: 250% 250%;
	opacity: 0.88;
	filter: brightness(0.66) contrast(1.33);
	transition: none;
}
.products .attachment-woocommerce_thumbnail:before, .products .attachment-woocommerce_thumbnail:hover:before, .products .attachment-woocommerce_thumbnail:after, .products .attachment-woocommerce_thumbnail:hover:after {
	animation: none;
	transition: none;
}
.products .attachment-woocommerce_thumbnail{
	transition: none;
	animation: holoproduct 12s ease 0s 1;
	
}
.products .attachment-woocommerce_thumbnail:before {
	transition: none;
	animation: holoGradient 12s ease 0s 1;
}


.products .attachment-woocommerce_thumbnail:after {
	transition: none;
	animation: holoSparkle 12s ease 0s 1;
}
@keyframes holoSparkle {
	0%, 100% {
		opacity: 0.75;
		background-position: 50% 50%;
		filter: brightness(1.2) contrast(1.25);
   }
	5%, 8% {
		opacity: 1;
		background-position: 40% 40%;
		filter: brightness(0.9) contrast(1.2);
   }
	13%, 16% {
		opacity: 0.75;
		background-position: 50% 50%;
		filter: brightness(1.2) contrast(0.8);
   }
	35%, 38% {
		opacity: 1;
		background-position: 60% 60%;
		filter: brightness(1) contrast(1);
   }
	55% {
		opacity: 0.33;
		background-position: 45% 45%;
		filter: brightness(1.2) contrast(1.25);
   }
}
@keyframes holoGradient {
	0%, 100% {
		opacity: 0.5;
		background-position: 50% 50%;
		filter: brightness(0.5) contrast(1);
   }
	5%, 9% {
		background-position: 100% 100%;
		opacity: 1;
		filter: brightness(0.75) contrast(1.25);
   }
	13%, 17% {
		background-position: 0% 0%;
		opacity: 0.88;
   }
	35%, 39% {
		background-position: 100% 100%;
		opacity: 1;
		filter: brightness(0.5) contrast(1);
   }
	55% {
		background-position: 0% 0%;
		opacity: 1;
		filter: brightness(0.75) contrast(1.25);
   }
}
@keyframes holoproduct {
	0%, 100% {
		transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
   }
	5%, 8% {
		transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
   }
	13%, 16% {
		transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
   }
	35%, 38% {
		transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
   }
	55% {
		transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
   }
}
.products .attachment-woocommerce_thumbnail:hover {
	box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}



@media screen and (min-width: 600px) {
	.products {
		flex-direction: row;
   }
}
.products .attachment-woocommerce_thumbnail:nth-child(2), .products .attachment-woocommerce_thumbnail:nth-child(2):before, .products .attachment-woocommerce_thumbnail:nth-child(2):after {
	animation-delay: 0.25s;
}
.products .attachment-woocommerce_thumbnail:nth-child(3), .products .attachment-woocommerce_thumbnail:nth-child(3):before, .products .attachment-woocommerce_thumbnail:nth-child(3):after {
	animation-delay: 0.5s;
}
.products .attachment-woocommerce_thumbnail:nth-child(4), .products .attachment-woocommerce_thumbnail:nth-child(4):before, .products .attachment-woocommerce_thumbnail:nth-child(4):after {
	animation-delay: 0.75s;
}
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
   }
	30% {
		transform: scale3d(1.25, 0.75, 1);
   }
	40% {
		transform: scale3d(0.75, 1.25, 1);
   }
	50% {
		transform: scale3d(1.15, 0.85, 1);
   }
	65% {
		transform: scale3d(0.95, 1.05, 1);
   }
	75% {
		transform: scale3d(1.05, 0.95, 1);
   }
	to {
		transform: scale3d(1, 1, 1);
   }
}

.button .wp-element-button .product_type_simple {
	position: absolute;
	z-index: 100;
}