.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.thumb-search-item {
  max-height: 250px;
  border-radius: 1.5%;
}

.line-break {
  word-break: break-all;
}
@media (min-width: 1024px) {
      .mobile-auth-menu {
          display: none !important;
          visibility: hidden !important;
        }
}
@media (max-width: 1024px) {
  .navbar-menu.is-active {
    display: inline-block !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .navbar-start {
    padding-bottom: 15px;
    display: inline-table !important;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid white;
  }
  .navbar-start .buttons,
  .navbar-end .buttons {
    display: inline-table !important;
    text-align: center;
  }
  .navbar-start .buttons .ml-2,
  .navbar-end .buttons .mr-4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .navbar .dropdown-menu, .dropdown-trigger {
    display: none !important;
  }
  .mobile-auth-menu {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .recents-container .title.is-5 {
    margin-bottom: 30px !important;
  }
  .metrics .title.is-5 {
    display: none !important;
  }
  .search-button.nodesk-only {
    display: none !important;
  }
        .actions-btn {
          display: flex !important;
          justify-content: space-between !important;
          flex-wrap: wrap;
          left: 0 !important;
        }
        .actions-btn .button {
          margin-left: 0 !important;
        } 
  
}

.mt-7 {
  margin-top: 70px !important;
}

.settings-scrollable {
  overflow-y: scroll;
}
.no-overflow {
  width: 100%;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.no-wrap {
  white-space: nowrap;
}

.tag-search-item {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 12px;
  display: flex;
  justify-content: space-around;
}
.tag-is-absolute {
  font-size: 14px;
  position: absolute;
  top: 3px;
}

.mb--1 {
  margin-bottom: -15px !important;
}

.mt--2 {
  margin-top: -20px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  overflow-y: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.thumb-img {
  height: 350px;
  position: relative;
  float: right;
  right: 2.5%;
  border-radius: 1.5%;
}
@media (max-width: 950px) {
  .thumb-img {
    height: 500px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .thumb-img {
    height: auto;
    position: relative;
  }
}

@media (min-width: 420px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 419px) {

  .mobile-only {
    margin-top: 5px;
    display: block;
  }
}

@media (max-width: 810px) {
  .search-button > strong {
    display: none;
  }
  .price-block {
    display: none;
  }
}

@media (max-width: 400px) {
  .auth-btn {
    display: none !important;
  }
}

/* .title-nav {
  max-width: 300px;
  overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
} */
.filters-label {
  margin-top: -5px !important;
}

.dropdown-user-logged {
  position: absolute;
  z-index: 1000;
  display: none;
}

@media (max-width: 510px) {
  .title.is-4.title-nav {
    font-size: 1.3rem !important;
  }
  button.navbar-burger {
    position: fixed;
    right: 0;
  }
  .text-wrap strong {
    word-wrap: break-word;
    white-space: initial;
        overflow-wrap: break-word;
        text-align: right;
        margin-right: -25px;
        
  }
}
@media (max-width: 530px) {
  .title.is-4.title-nav {
    font-size: 1.1rem !important;
    overflow-wrap: break-word;
    max-width: 60%;
  }
  .tagline {
    display: none;
  }
  .search-button {
    max-width: 80px;
    
  }

  .search-button .icon {
    margin-left: -4px !important;
  }
  .search-button .title {
    display: none;
  }

}
.min-100 {
  min-width: 100%;
}

.min-90 {
  min-width: 93%;
}

.tabs {
  border-bottom: 0px;
}

.pointer:hover {
  scale: 1.1;
  position: relative;

  opacity: 0.7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
