body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

p {
  color: hsl(0, 0%, 21%) !important;
}

html {
  overflow-y: hidden !important;
  height:100vh;
  -webkit-font-smoothing: subpixel-antialiased;
}

.results-col.box:hover {
  cursor: pointer;
  scale: 0.99;
  filter: opacity(0.85);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;

}

.content
{

  height: 100vh;
  overflow-y:auto;
  padding-top: 50px;
  padding-bottom: 70px;
}

.page-content {
  height: 100vh;
}


.opacity-50 {
  opacity: 80%;
  filter: grayscale(0.3);
}

.opacity-50:hover {
  opacity: 100%;
  filter: grayscale(0);
  cursor: pointer;
}

.content:has(> .landing) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.content::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.content::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.content::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* color of the scroll thumb */
  border-radius: 50px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
  right: 10px;
}


.selected-types-search {
  margin-top: -25px;
  position: relative;
  z-index: 0;
}


.h-100 {
  min-height: 1000px;
}
/* 
body {
  overflow-y:auto;
} */

html {
  height: 100%;
  overflow-y: hidden;
}

.pointer {
  cursor: pointer;
  
}

.delete-img-btn {
  position: absolute;
  right: -50px;
  border-radius: 50%;
  cursor: pointer;

  z-index: 100;
}

.baby {
  scale: 0.16;
 position: absolute;
 margin-bottom: -145px;
}

.delete-sound {
  bottom: -35px;
}

@keyframes smooth-appear {
  to{
    top: 20px;
    opacity:1;
  }
}
.smooth-appear {
position: relative;
  top: -100%;
  opacity:0;
  left: 50%;
  transform: translateX(-50%);
  animation: smooth-appear 0.75s ease forwards;
}

.sm2 {
  animation: smooth-appear 1s ease forwards;
}

.sm3 {
  animation: smooth-appear 1.25s ease forwards;
}

.sm4 {
  animation: smooth-appear 1.5s ease forwards;
}

.sm5 {
  animation: smooth-appear 1.75s ease forwards;
}



.file-img {
  width: 300px;
  object-fit: cover;

  border-radius: 3%;
}

.file-video {
  width: auto;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 3%;
}
.pointer:hover {
  opacity: 0.75;
}

.has-text-shadow {
  text-shadow: 2px 2px 3px grey;
}

.is-preview {
  max-width: 500px;
  max-height: 500px;
}

/* .app-ctn {
  height:auto;

  min-height: 100vh;
  position: relative;
} */


/* 
.page-content {
  padding-top: 0px;
  padding-bottom: 150px;
  margin-bottom: -250px;
 
} */

@media only screen and (min-width: 450px) {
  .footer-app {
    position:absolute;
    bottom: 0;
  
  }
  
}

@media (max-width: 450px) {
  .recents-label {
    display: none !important;
  }
}

.overflow-y-auto {
  overflow-y: auto;
  width: 80%;
}

.langchoose {
  padding-right: 15px;
  margin-right:15px;
  border-right: 1.5px solid grey;
}


.panel-hover:hover {
  cursor: pointer;
  filter: opacity(0.75);
}


.appAlert {
  position: absolute;
  z-index: 100;
  top: 50px;
  width: 100%;
}
 
.results-col {
  height: 100%;
  cursor: pointer;
  
}
.results-col-unclickable {
  height: 100%;
  cursor: default;
  
}
.indextag {
  cursor: pointer;
}

.indextag:hover {
  scale: 0.95;
}



.tag-bottom {
  margin-top: auto;

}


.poweredBy {
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(255, 255, 255, 0.65) !important;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  padding-bottom: 1px;
  border-radius: 5px;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 10px;

}


.lg-navbar {
  width: 90px;
  min-height: 65px; 
   position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .page-content {
  margin-top: 65px;
  overflow: hidden;
  min-height: 100vh;
} */


.options-searchbar {
  width: auto;
  margin-left: -200px;
  border-left: 1px solid rgba(10, 10, 10, 0.1);
}

.tagline {
  position: absolute;
  top: 60px;
  left: 101px;
}

.has-icons-right> .input {
  cursor: pointer;
}


.notification {
  position: relative;
  z-index: 10;
}


body {
  height: 100vh;
  overflow: auto;
}

.dropdown-container {
  border-radius: 3.5% !important;
}

.content:has(> .landing) {
  background-image: url("../background-landing.JPG");
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.image404 {
  width: 50%;
}

.landing-content {
  margin-top: 0px;
}

.dropdown-user-logged {
  margin-left:-145%;
}

.landing-container {
  padding: 0;
  
  padding-top: 90px;
}
.landing-container .search-box {
  height: 20px;
  width: 700px !important;
  position: relative;
  z-index: 1;
  border: none;
}

.max-40 {
  width: 50%;
  margin: auto;
}

.max-50 {
  width: 50% !important;
}

.ml--2 {
  margin-left: -100px !important; 
}

.visitordropdown {
  z-index: 10;
}


.globe-chart {
  display: flex;
  justify-content: center;
  margin-top: -100px !important;
  
}

.ml--1 {
  margin-left: -15px;
}

.is-pointer {
  cursor: pointer;
}



.overflow-hidden {
  overflow-x: hidden;
}

.is-fixed {
  position: absolute;
  width: 23%;
}

.dropdown-dashboard {
  width:75% !important;
}

@media only screen and (max-width: 1023px) {
  .landing-container .search-box {
   width: 550px !important;
  }
  .dropdown-user-logged {
    visibility: hidden;
  }
  
}

.mobile-search-label {
  display: none !important;
}

.search {
  margin-top: -50px;
}

@media only screen and (max-width: 650px) {
  .landing-container {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    margin-left: 0.2rem !important;
  }
  .landing-content {
    margin-left: 0.3rem !important;
  }
  .landing-container .search-box {
    width: 80% !important;

  }
 
  .search-label {
    display: none !important;
  }
  .mobile-search-label {
    position: absolute;
  top: 15px;
  left: 3px;
  
  color: #5a6674;
  z-index: 9;
    display: block !important;
  }
  
}
@supports ( -webkit-touch-callout : none) {
  .content:has(> .landing) {
  background-attachment:scroll
  }
  }
  
  @supports not ( -webkit-touch-callout : none) {
      .content:has(> .landing) {
  background-attachment: fixed;
  }
  }
.nodesk-only {
  display: none;
}
@media (max-width: 457px) {
  .desktop-only, .options-searchbar, .metrics {
    display: none !important;
  }
  .nodesk-only {
    display: block !important;
  }
  .navbar-burger {
    scale: 1.5;
   
  }
  .navbar-burger:hover {
    background-color: transparent !important;
  }
}

.has-background-transparent {
  background-color: transparent !important;
}
.is-borderless, .is-borderless:focus { border: 0 !important; box-shadow: 0 !important; outline: none !important; -webkit-box-shadow: none;
  box-shadow: none; }
.w-100 {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.search-block,
.price-block,
.extras-block {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  transition: all 0.3s ease;
}


.modal-auth {
  position: absolute; 
  z-index: 1000;
  height: 101vh;
  width: 101vw;
  left: -1vw !important;
  top: -1vh !important;
}

.modal-card-head, .modal-card-foot, .modal-card-body {
  background-color: transparent !important;
}


.modal-card {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.search-label  {
    color: rgba(0, 0, 0, 0.68) !important;
}


.mt-05 {
  margin-top: 2px !important
}

hr {
  background: rgba(255, 255, 255, 0.2) !important;
  height: 2px !important;
}

.search-block.focus,
.price-block.focus,
.extras-block.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}


.search-label,
.price-label {
  position: absolute;
  top: 3px !important;
  left: 3px;
  
  color: #5a6674;
  z-index: 9;
}


.search-input {
  position: absolute;
  top: 31.5px;
  left: 3px;
  padding-bottom: 5 !important;
  font-size: 1.5em;
  background: none;
  color: rgba(0, 0, 0, 0.74);
  width: 99%;
  height: 32px;
  padding-left: 0;
  border-radius: 0;
  border: none;
  appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}
.search-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(0, 0, 0, 0.54);
  font-size: 21.5px;  
}


.is-txt-multiline {
  display: inline-block !important;
  height: auto !important;
  white-space: unset !important;
  line-height: 0.9  !important;
}

.search-input:focus {
  border-bottom: 1px solid #a9a9a9;
}

.landing-container .search-box {
  height: 71px;
  padding: 10px 0px 10px 5px;
}

.pr--1 {
  padding-right: 15px !important;
  padding-left: 25px !important;
}

.pb-05 {
  padding-bottom: 2px !important;
}

.mt--3 {
  margin-top: -24px !important;
}

.mt--05 {
  margin-top: -2px !important;
}

.left-0 {
  padding-right: 0 !important;
  right: 0px !important;
}

.landing-container .search-box .search-button {
  height: 71px;
  margin-top: -10px;
  text-align: center;
  position: absolute;
  right: 0%;
  width: 170px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.checkbox input[type=checkbox] {
  margin-left: 0px;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox input[type=checkbox],
label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}

.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.checkbox input[type=checkbox]:checked ~ .checkbox-material .check {
  color: #009688;
  padding: 1px 0 0px 1px;
}

.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.checkbox input[type=checkbox]:checked ~ .checkbox-material .check:before {
  color: #009688;
  font: normal normal normal 14px/1 FontAwesome;
  content: "ï€Œ";
}

.mt--1 {
  margin-top: -10px; 
}

.loader {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 85px);
  min-width: 170px;
  min-height: 170px;
  border-radius: 50%;
  perspective: 800px;
}


.mini-loader {
  scale: 0.5;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  
  max-height: 50px;

  max-width: 50px;
}

.border-t {
  width: 60%;

  margin: auto;
  margin-top: -15px;

}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 10px solid #EE6636;
}

.border-0 {
  border: 0px;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-bottom: 10px solid #EE6636;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}