.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  overflow-y: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.thumb-img {
  height: 40%;
  position: absolute;
  right: 1.5%;
  border-radius: 1.5%;
}
@media (max-width: 950px) {
  .thumb-img {
    height: 25%;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .thumb-img {
   height: auto;
   position: relative;
  }
}

@media (min-width: 420px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 419px) {
  .actions-btn {
    display: none;
  }
  .mobile-only {
    margin-top: 5px;
    display: block;
  }
}

@media (max-width: 810px) {
  .search-button > strong {
    display: none;
  }
  .price-block {
    display: none;
  }
}

@media (max-width: 400px) {
 .auth-btn {
  display: none !important;
 }
}

/* .title-nav {
  max-width: 300px;
  overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
} */
.filters-label {
  margin-top: -5px !important;
}

.dropdown-user-logged {
  position: absolute;
  z-index: 1000;
  display: none;
}

@media (max-width: 510px) {
  .title.is-4.title-nav {
    font-size: 1.3rem !important;
  }
  button.navbar-burger {
    position: fixed;
    right:0;
  }
}
@media (max-width: 410px) {
  .title.is-4.title-nav {
    font-size: 1.1rem !important;
  }
  .tagline {
    display: none;
  }

}
.min-100 {
  min-width: 100%;
}

.min-90 {
  min-width: 93%;
}

.tabs {
  border-bottom:0px;
}



.pointer:hover {
  scale: 1.1;
  position: relative;
  
  opacity: 0.7;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
