// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500&family=Libre+Bodoni&family=Roboto+Mono&display=swap');// 2. Set your own initial variables
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600&display=swap');
$blue: #EE6636;
// Add pink and its invert
$pink: #079BE9;
$purple: #a29bfe;
$pink-invert: #fff;
$red: #d63031;
$footer-padding: 1.7rem 1.5rem 5.7rem;
$grey: #747d8c;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
$info: #EE6636;
$danger: $red;
$success: #00b894;
$link: $primary;
$family-primary: 'Bricolage Grotesque', sans-serif;
$family-secondary: 'Libre Bodoni', serif;
$title-family: $family-secondary;
$family-monospace: $family-primary;
$subtitle-family: $family-secondary;
$radius: 7px;

// 6. Import the rest of Bulma
@import "../node_modules/bulma";
@import "../node_modules/bulma-switch"